{% extends 'base_site.html' %}

{% block title %}Academic Years | Grand Crest University{% endblock title %}

{% block breadcrumb %}
    <div class="flex [.header_&amp;]:below-lg:hidden items-center gap-1.25 text-xs lg:text-sm font-medium mb-2.5 lg:mb-0" data-reparent="true" data-reparent-mode="prepend|lg:prepend" data-reparent-target="#content_container|lg:#header_container">
        <span class="text-gray-600">Dashboard</span>
        <i class="ki-filled ki-right text-gray-500 text-3xs"></i>
        <span class="text-gray-700">Academic Years</span>
    </div>
{% endblock breadcrumb %}

{% block content %}

    <!-- begin: container -->
    <div class="container-fixed">
        <div class="card card-grid">
            <div class="card-header">
                <h3 class="card-title">Academic Years</h3>
                <button class="btn btn-sm btn-primary" id="add_academic_year"><i class="ki-filled ki-plus-squared"></i> Add Academic Year</a>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Total Student</th>
                            <th>Admission Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for acy in acys %}
                            <tr>
                                <td>{{ acy }}</td>
                                <td>{{ acy.get_total_student }}</td>
                                <td>
                                    <label class="switch"><input type="checkbox" class="adm-status" value="{{ acy.id }}" {% if acy.admission_status == True %}checked{% endif %}></label>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        
    </div>
    <!-- end: container -->
    
{% endblock content %}


{% block extra_js %}
    <script>
        $(document).ready(function(){
            $(document).on('click', '#add_academic_year', function(e){
                $.ajax({
                    url: '{% url "add_academic_year" %}',
                    type: 'POST',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },
                    success: function(res){
                        location.reload();
                    }
                })
            });

            $(document).on('change', '.adm-status', function(){
                $(this).each(function() {
                    var id = $(this).val();
                    $.ajax({
                        url: '{% url "change_status" %}',
                        type: 'POST',
                        data:{
                            'id' : id,
                            'csrfmiddlewaretoken' : '{{ csrf_token }}'
                        },
                        success: function(res){
                            console.log(res)
                        }
                    });
                });
            });
        });
    </script>
{% endblock extra_js %}
    