{% extends 'base_site.html' %}

{% block title %}All Courses | Grand Crest University{% endblock title %}

{% block breadcrumb %}
    <div class="flex [.header_&amp;]:below-lg:hidden items-center gap-1.25 text-xs lg:text-sm font-medium mb-2.5 lg:mb-0" data-reparent="true" data-reparent-mode="prepend|lg:prepend" data-reparent-target="#content_container|lg:#header_container">
        <span class="text-gray-600">Dashboard</span>
        <i class="ki-filled ki-right text-gray-500 text-3xs"></i>
        <span class="text-gray-700">All Courses</span>
    </div>
{% endblock breadcrumb %}

{% block content %}

    <!-- begin: container -->
    <div class="container-fixed">
        <div class="card card-grid min-w-full">
            <div class="card-header">
                <h3 class="card-title">All Courses</h3>
                <a href="{% url 'course_add' %}" class="btn btn-sm btn-primary" id="department_add_btn"><i class="ki-filled ki-plus-squared"></i> Add Course</a>
            </div>
            <div class="card-body">

                <div data-datatable="false" id="my_datatable">
                    <div class="scrollable-x-auto">
                        <table class="table table-auto table-border" data-datatable-table="true">
                            <thead>
                                <tr>
                                    <th class="min-w-[185px]">
                                        <span class="sort">
                                            <span class="sort-label">Name</span>
                                            <span class="sort-icon"></span>
                                        </span>
                                    </th>
                                    <th class="min-w-[185px]">
                                        <span class="sort">
                                            <span class="sort-label">Department</span>
                                            <span class="sort-icon"></span>
                                        </span>
                                    </th>
                                    <th class="min-w-[185px]">
                                        <span class="sort">
                                            <span class="sort-label">Fees</span>
                                            <span class="sort-icon"></span>
                                        </span>
                                    </th>
                                    <th class="text-right">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for course in courses %}
                                    <tr>
                                        <td>{{ course.name }}</td>
                                        <td>{{ course.department }}</td>
                                        <td>₹{{ course.get_total_fees }}</td>
                                        <td class="text-right">
                                            <a href="{% url 'course_detail' course.code %}" class="btn btn-sm btn-icon btn-clear btn-light"> <i class="ki-outline ki-eye"></i></a>
                                            <a href="{% url 'course_edit' course.id %}" class="btn btn-sm btn-icon btn-clear btn-light"> <i class="ki-outline ki-notepad-edit"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer justify-center md:justify-between flex-col md:flex-row gap-3 text-gray-600 text-2sm font-medium">
                        <div class="flex items-center gap-2">Show
                            <select class="select select-sm w-16" data-datatable-size="true" name="perpage"></select>per page
                        </div>
                        <div class="flex items-center gap-4">
                            <span data-datatable-info="true"></span>
                            <div class="pagination" data-datatable-pagination="true"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end: container -->

    
{% endblock content %}


{% block extra_js %}
    <script>
        $(document).ready(function(){
            const datatableEl = document.querySelector('#my_datatable');
            const options = {
                pageSize: 5,
                stateSave: true
            };
            const datatable = new KTDataTable(datatableEl, options);
        });
    </script>
{% endblock extra_js %}
    