{% extends 'base_site.html' %}

{% block title %}{{ course.name }} | Grand Crest University{% endblock title %}

{% block breadcrumb %}
    <div class="flex [.header_&amp;]:below-lg:hidden items-center gap-1.25 text-xs lg:text-sm font-medium mb-2.5 lg:mb-0" data-reparent="true" data-reparent-mode="prepend|lg:prepend" data-reparent-target="#content_container|lg:#header_container">
        <span class="text-gray-600">Dashboard</span>
        <i class="ki-filled ki-right text-gray-500 text-3xs"></i>
        <span class="text-gray-700">All Courses</span>
        <i class="ki-filled ki-right text-gray-500 text-3xs"></i>
        <span class="text-gray-700">{{ course.name }}</span>
    </div>
{% endblock breadcrumb %}

{% block content %}
    <!-- begin: container -->
    <div class="container-fixed">
        <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
            <div class="flex flex-col justify-center gap-2">
                <h1 class="text-xl font-semibold leading-none text-gray-900">{{ course.name }}</h1>
            </div>
        </div>
    </div>
    <!-- end: container -->

    <!-- begin: container -->
    

    <div class="container-fixed">
        <div class="flex grow gap-5 lg:gap-7.5">
            <div class="hidden lg:block w-[230px] shrink-0">
                <div class="w-[230px]" data-sticky="true" data-sticky-animation="true" data-sticky-class="fixed top-[calc(var(--tw-header-height)+1.875rem)] z-10 left-auto" data-sticky-name="scrollspy" data-sticky-offset="200">
                    <div class="flex flex-col grow relative before:absolute before:left-[11px] before:top-0 before:bottom-0 before:border-l before:border-gray-200" data-scrollspy="true" data-scrollspy-offset="80px|lg:110px" data-scrollspy-target="body">
                        <a href="#basic_settings" class="flex items-center rounded-lg pl-2.5 pr-2.5 py-2.5 gap-1.5 active border border-transparent text-2sm font-medium text-gray-700 hover:text-primary scrollspy-active:bg-secondary-active scrollspy-active:text-primary dark:hover:bg-coal-300 dark:hover:border-gray-100 hover:rounded-lg dark:scrollspy-active:bg-coal-300 dark:scrollspy-active:border-gray-100" data-scrollspy-anchor="true">
                            <span class="flex w-1.5 relative before:absolute before:top-0 before:left-px before:size-1.5 before:rounded-full before:-translate-x-2/4 before:-translate-y-2/4 scrollspy-active:before:bg-primary"></span>
                            Basic Settings
                        </a>
                        <a href="#auth_email" class="flex items-center rounded-lg pl-2.5 pr-2.5 py-2.5 gap-3.5 border border-transparent text-2sm font-medium text-gray-700 hover:text-primary scrollspy-active:bg-secondary-active scrollspy-active:text-primary dark:hover:bg-coal-300 dark:hover:border-gray-100 hover:rounded-lg dark:scrollspy-active:bg-coal-300 dark:scrollspy-active:border-gray-100" data-scrollspy-anchor="true">
                            <span class="flex w-1.5 relative before:absolute before:top-0 before:left-px before:size-1.5 before:rounded-full before:-translate-x-2/4 before:-translate-y-2/4 scrollspy-active:before:bg-primary"></span>
                            Fees
                        </a>
                    </div>
                </div>
            </div>
            <div class="flex flex-col items-stretch grow gap-5 lg:gap-7.5">
                <div class="card pb-2.5">
                    <div class="card-header" id="basic_settings">
                        <h3 class="card-title">
                            Basic Settings
                        </h3>
                    </div>
                    <div class="card-body grid gap-5">
                        
                    </div>
                </div>
                <div class="card pb-2.5">
                    <div class="card-header">
                        <h3 class="card-title">Fee Structure</h3>
                        <a href="{% url 'course_fee_add' course.code %}" class="btn btn-light btn-sm"><i class="ki-filled ki-plus-squared"></i>Add New</a>
                    </div>
                    <div class="card-body grid gap-5 pt-7.5">
                        <div class="grid gap-5">
                            {% for fee in fees %}
                                <div class="flex items-center justify-between border border-gray-200 rounded-xl gap-2 px-4 py-4 bg-secondary-clarity">
                                    <div class="flex items-center gap-3.5">
                                        {% comment %} <img alt="" class="w-10 shrink-0" src="assets/media/brand-logos/visa.svg"> {% endcomment %}
                                        <div class="flex flex-col">
                                            <h3 class="text-sm font-semibold text-gray-900 hover:text-primary-active mb-px">
                                                ₹ {{ fee.get_total }}
                                            </h3>
                                            <span class="text-2sm font-medium text-gray-600">
                                                {{ fee.due_date }}
                                            </span>
                                        </div>
                                    </div>
                                    <div class="flex items-center gap-5">
                                        <span class="badge badge-sm badge-success badge-outline">{{ fee.title }}</span>
                                        <div class="flex gap-0.5">
                                            <div class="btn btn-sm btn-icon btn-clear btn-light">
                                                <i class="ki-filled ki-notepad-edit"></i>
                                            </div>
                                            <div class="btn btn-sm btn-icon btn-clear btn-light">
                                                <i class="ki-filled ki-trash"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            <div class="border border-gray-200 rounded-xl gap-2 px-4 py-4 bg-secondary">
                                <div class="flex items-center gap-3.5">
                                    {% comment %} <img alt="" class="w-10 shrink-0" src="assets/media/brand-logos/visa.svg"> {% endcomment %}
                                    <div class="flex flex-col">
                                        <h3 class="text-lg font-semibold text-gray-900 hover:text-primary-active mb-px">₹ {{ course.get_total_fees }}</h3>
                                        <span class="text-2sm font-medium text-gray-600">Total Fees </span>
                                    </div>
                                </div>
                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
    <!-- end: container -->



    
    
{% endblock content %}

