<form method="post" novalidate="novalidate" id="course_form">
    {% csrf_token %}
    <div class="flex flex-col gap-1">
        <label class="form-label font-normal text-gray-900" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
        {{ form.name }}
        {{ form.name.errors }}
    </div>
    <div class="flex flex-col gap-1 mt-5">
        <label class="form-label font-normal text-gray-900" for="{{ form.code.id_for_label }}">{{ form.code.label }}</label>
        {{ form.code }}
        {{ form.code.errors }}
    </div>
    
    <div class="flex justify-end gap-2 mt-5">
        <button type="reset" class="btn btn-secondary">CANCEL</button>
        <button type="submit" class="btn btn-primary">SAVE</button>
    </div>
</form>