{% extends 'base_site.html' %}

{% block title %}All Departments | Grand Crest University{% endblock title %}

{% block breadcrumb %}
    <div class="flex [.header_&amp;]:below-lg:hidden items-center gap-1.25 text-xs lg:text-sm font-medium mb-2.5 lg:mb-0" data-reparent="true" data-reparent-mode="prepend|lg:prepend" data-reparent-target="#content_container|lg:#header_container">
        <span class="text-gray-600">Dashboard</span>
        <i class="ki-filled ki-right text-gray-500 text-3xs"></i>
        <span class="text-gray-700">All Departments</span>
    </div>
{% endblock breadcrumb %}

{% block content %}
    <!-- begin: container -->
    <div class="container-fixed">
        <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
            <div class="flex flex-col justify-center gap-2">
                <h1 class="text-xl font-semibold leading-none text-gray-900">All Departments</h1>
            </div>
        </div>
    </div>
    <!-- end: container -->

    <!-- begin: container -->
    <div class="container-fixed">
        <div class="card card-grid">
            <div class="card-header">
                <h3 class="card-title">All Departments ({{ total_depertment }})</h3>
                <div class="flex">
                    <button class="btn btn-sm btn-primary" data-modal-toggle="#department_add"><i class="ki-filled ki-plus-squared"></i> Add Department</button>
                    <!-- <a href="{% url 'department_add' %}" ></a> -->
                </div>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Code</th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for department in departments %}
                            <tr>
                                <td>{{ department.name }}</td>
                                <td>{{ department.code }}</td>
                                <td class="text-right">
                                    <button data-id="{{ department.id }}" class="department-edit btn btn-sm btn-icon btn-clear btn-light"><i class="ki-filled ki-pencil"></i></button>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- end: container -->

    <div class="modal" data-modal="true" id="department_add">
        <div class="modal-content max-w-[600px] top-[10%]">
            <div class="modal-header">
                <h3 class="modal-title">Modal Title</h3>
                <button class="btn btn-xs btn-icon btn-light" data-modal-dismiss="true">
                    <i class="ki-outline ki-cross"></i>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" novalidate="novalidate" id="department_add_form">
                    {% csrf_token %}
                    <div class="flex flex-col gap-1">
                        <label class="form-label font-normal text-gray-900" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                        {{ form.name }}
                        {{ form.name.errors }}
                    </div>
                    <div class="flex flex-col gap-1 mt-5">
                        <label class="form-label font-normal text-gray-900" for="{{ form.code.id_for_label }}">{{ form.code.label }}</label>
                        {{ form.code }}
                        {{ form.code.errors }}
                    </div>
                    <div class=" mt-5">
                        <div class="flex gap-1">
                            {{ form.is_academic }}
                            <label class="form-label font-normal text-gray-900" for="{{ form.is_academic.id_for_label }}">{{ form.is_academic.label }}</label>
                        </div>
                        
                        {{ form.is_academic.errors }}
                    </div>
                    
                    <div class="flex justify-end gap-5 mt-5">
                        <button type="reset" class="btn btn-secondary">CANCEL</button>
                        <button type="submit" class="btn btn-primary">SAVE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
{% endblock content %}


{% block extra_js %}
    <script>
        $(document).ready(function(){
            $('#department_add_form').submit(function(e){
                e.preventDefault();
                form = $(this);
                $.ajax({
                    type: 'POST',
                    url: '{% url "department_add" %}',
                    data: form.serialize(),
                    success: function (res) {
                        if (res.status == false) {
                            displayErrors(res.errors);
                        } else {
                            form.trigger("reset");
                            // location.reload();
                            console.log(res);
                        }
                    },
                    error: function(xhr){
                        
                    }
                });
            });

            
        
            $('.department-edit').click(function(e){
                const modalEl = document.querySelector('#department_add');
                const modal = KTModal.getInstance(modalEl);
                modal.show();
            });
        });
    </script>
{% endblock extra_js %}
    