{% extends 'base_site.html' %}

{% block title %} {{ grade }} | Grand Crest University{% endblock title %}

{% block breadcrumb %}
    <div class="flex [.header_&amp;]:below-lg:hidden items-center gap-1.25 text-xs lg:text-sm font-medium mb-2.5 lg:mb-0" data-reparent="true" data-reparent-mode="prepend|lg:prepend" data-reparent-target="#content_container|lg:#header_container">
        <span class="text-gray-600">Dashboard</span>
        <i class="ki-filled ki-right text-gray-500 text-3xs"></i>
        <span class="text-gray-700">{{ grade.course }}</span>
        <i class="ki-filled ki-right text-gray-500 text-3xs"></i>
        <span class="text-gray-700">{{ grade.name }} {{ grade.number }}</span>
    </div>
{% endblock breadcrumb %}

{% block content %}
    <!-- begin: container -->
    <div class="container-fixed">
        <div class="flex flex-wrap items-center lg:items-end justify-between gap-5 pb-7.5">
            <div class="flex flex-col justify-center gap-2">
                <h1 class="text-xl font-semibold leading-none text-gray-900"></h1>
            </div>
        </div>
    </div>
    <!-- end: container -->

    <!-- begin: container -->
    <div class="container-fixed">
        <div class="grid grid-cols-3 gap-5">
            <div class="col-span-1"></div>
            <div class="col-span-2">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Subjects</h3>
                        <button class="btn btn-light btn-sm" data-modal-toggle="#modal_1"><i class="ki-filled ki-plus"></i> Add New</button>
                    </div>
                    <div class="card-body">
                        {% if grade.subject_set.all %}
                            <div class="grid gap-3">
                                {% for subject in grade.subject_set.all %}
                                    <div class="flex items-center justify-between border border-gray-200 rounded-xl gap-2 px-4 py-4 bg-secondary-clarity">
                                        <div class="flex items-center gap-3.5">
                                            <div class="flex flex-col">
                                                <h6 class="text-sm font-medium text-gray-900 mb-px">{{ subject.name }}</h6>
                                                <span class="text-2sm text-gray-700">{{ subject.code }}</span>
                                            </div>
                                        </div>
                                        <div class="flex items-center gap-5">
                                            <span class="badge badge-success badge-outline">{{ subject.credit }}</span>
                                            <div class="flex gap-0.5">
                                                <div class="btn btn-sm btn-icon btn-clear btn-light">
                                                    <i class="ki-filled ki-notepad-edit">
                                                    </i>
                                                </div>
                                                <div class="btn btn-sm btn-icon btn-clear btn-light">
                                                    <i class="ki-filled ki-trash">
                                                    </i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <p class="text-gray-700 text-sm text-center mb-0">No Subject Added Yet</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end: container -->

    <div class="modal" data-modal="true" id="modal_1">
        <div class="modal-content max-w-[600px] top-[20%]">
            <div class="modal-header">
                <h3 class="modal-title">Modal Title</h3>
                <button class="btn btn-xs btn-icon btn-light" data-modal-dismiss="true"><i class="ki-outline ki-cross"></i></button>
            </div>
            <div class="modal-body">
                <form method="post" id="subject_form" novalidate="novalidate">
                    {% csrf_token %}
                    <input type="hidden" value="{{ grade.id }}" name="id">
                    <div class="flex flex-col gap-1">
                        <label class="form-label font-normal text-gray-900" for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
                        {{ form.name }}
                        {{ form.name.errors }}
                    </div>
                    <div class="flex flex-col gap-1">
                        <label class="form-label font-normal text-gray-900" for="{{ form.code.id_for_label }}">{{ form.code.label }}</label>
                        {{ form.code }}
                        {{ form.code.errors }}
                    </div>
                    <div class="flex flex-col gap-1">
                        <label class="form-label font-normal text-gray-900" for="{{ form.credit.id_for_label }}">{{ form.credit.label }}</label>
                        {{ form.credit }}
                        {{ form.credit.errors }}
                    </div>
                    <div class="flex justify-end">
                        <button type="submit" class="btn btn-primary">SAVE</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
{% endblock content %}


{% block extra_js %}
    <script>
        $(document).ready(function(){
            

            $('#subject_form').submit(function (e) {  
                e.preventDefault();
                var form = $(this);
                $('.errorlist').hide();
                $.ajax({
                    type: 'POST',
                    url : "{% url 'subject_add' %}",
                    data: form.serialize(),
                    success: function (res) {
                        if (res.status == false) {
                            displayErrors(res.errors);
                        } else {
                            form.trigger("reset");
                            // location.reload();
                            console.log(res);
                        }
                    },
                    error: function(xhr){
                        
                    }
                });
            });
        });
    </script>
{% endblock extra_js %}
    