<div>
    <form method="post" id="schedule_add_form">
        {% csrf_token %}
        <!-- <input type="hidden" name="day" value="{{ day }}">
        <input type="hidden" name="period" value="{{ period }}"> -->
        <select name="subject" id="" class="select">
            {% for subject in subjects %}
                <option value="{{ subject.id }}">{{ subject }}</option> 
            {% endfor %}
        </select>
        
        <select name="teacher" id="" class="select mt-5">
            {% for teacher in teachers %}
                <option value="{{ teacher.id }}">{{ teacher.user.get_full_name }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">SAVE</button>
    </form>
    
</div>